system_ext/apex/com.android.vndk.v30.apex
system_ext/priv-app/Settings/Settings.apk
modem.img
system/app/MIUIVideoPlayer/MIUIVideoPlayer.apk
system/data-app/MIBrowserGlobal/MIBrowserGlobal.apk
system/priv-app/MiuiCamera/MiuiCamera.apk
system/priv-app/MIUIGalleryGlobal/MIUIGalleryGlobal.apk
product/app/Messages/Messages.apk
product/app/WebViewGoogle/WebViewGoogle.apk
product/priv-app/Velvet/Velvet.apk
product/priv-app/GmsCore/GmsCore.apk
boot.img
